{% extends "_main.jinja" %}

{% block title %} I saw a mudcrab the other day {% endblock %}

{% block main %}
	Serus, ja som Gabo a toto je Karlovka <br>
	Mam 39 rokov, 7 deti <br>
	Sedmicka je vraj stastne cislo ale stastny som nebol od patnastich <br>
	Filip by mal menej plieskat do medzerniku, lebo za kazdy uder zomrie 1 tucniak
{% endblock %}